$heroOverlay: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$sectionShadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
$boxShadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
$buttonShadow: 0px 5px 5px rgba(0,0,0,0.5);
$Righteous: 'Righteous', cursive;
$Raleway: 'Raleway', sans-serif;
$blue: #130f40;
$white: #f5f6fa;
$red: #d63031;
$pttA: url(../img/pttA.svg);
$pttB: url(../img/pttB.svg);
$pttC: url(../img/pttC.svg);