* 
	margin: 0px 
	padding: 0px 
	list-style: none 
	text-decoration: none 
.contenedorPadre 
	display: grid 
	grid-template-areas: "header header header header"
    "hero hero hero hero"
    "boxes boxes boxes boxes"
    "footer footer footer footer" 
	grid-template-columns: 100% 
header 
	grid-area: header 
	background-color: #130f40 
	background-image: url(../img/ptt_b.svg) 
	background-repeat: repeat 
	background-size: 100% 
	color: #ecf0f1 
	padding: 0px 3vh 0px 3vh 
	min-height: 10dvh 
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5) 
.navegacion 
	display: none 
	li 
		display: inline-block 
		padding: 0px 20px 
		display: inline-block 
		padding: 0px 0px 
.logo_header 
	padding: 20px 5px 5px 35px 
	height: 8vh 
	padding: 0px 
	min-height: 3dvh 
.hero_container 
	grid-area: hero 
	display: flex 
	align-items: center 
	justify-content: center 
	flex-wrap: wrap 
	background-position: center 
	background-repeat: no-repeat 
	background-size: cover 
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9) 
	min-height: 90dvh 
.hero 
	width: 70% 
	text-align: center 
	color: azure 
	width: 95% 
#hero-home 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg") 
#hero-nos 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/nosotros.jpg") 
#hero-reservas 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/reservas.jpg") 
#hero-menu 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/menu-hero.jpg") 
#hero-contacto 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/contacto.jpg") 
.heroText 
	font-family: 'Righteous', cursive 
	color: azure 
	font-weight: bold 
	font-size: 6vh 
	text-align: center 
	font-stretch: expanded 
	font-family: 'Righteous', cursive 
	color: azure 
	font-weight: bold 
	font-size: 6vh 
	text-align: center 
	font-stretch: expanded 
	font-weight: bold 
	font-size: 3vh 
	font-weight: bold 
	font-size: 15px 
.frase 
	font-family: 'Raleway', sans-serif 
	color: azure 
	font-weight: 100 
	font-size: 4vh 
	font-style: italic 
	text-align: center 
	font-stretch: expanded 
	font-family: 'Raleway', sans-serif 
	color: azure 
	font-weight: 100 
	font-size: 3.5vh 
	font-style: italic 
	text-align: center 
	font-stretch: expanded 
	font-weight: 100 
	font-size: 2vh 
.content 
	background-image: #ecf0f1 
	background-image: url(../img/ptt2_b.svg) 
	background-size: 50% 
	background-repeat: repeat 
.boxes 
	grid-area: boxes 
	display: flex 
	justify-content: space-evenly 
	align-items: center 
	flex-wrap: wrap 
	padding: 5vh 0px 5vh 0px 
.box 
	display: flex 
	flex-direction: column 
	align-items: center 
	justify-content: space-between 
	width: 33vh 
	min-height: 33vh 
	background-color: #130f40 
	background-image: url(../img/ptt.svg) 
	background-size: 300% 
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5) 
	color: #ecf0f1 
	text-align: center 
	border-radius: 5px 
	padding: 1vh 2vh 1vh 2vh 
	margin: 2% 
	background-size: 300% 
	width: 95% 
	min-width: 150px 
	border-radius: 5px 
	padding: 1vh 2vh 1vh 2vh 
	margin: 1% 
	background-size: 300% 
	width: 95vh 
	border-radius: 5px 
	padding: 1vh 2vh 1vh 2vh 
	margin: 1% 
.boxText 
	width: 95vh 
	background-color: #130f40 
	background-image: url(../img/ptt.svg) 
	background-size: 300% 
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5) 
	color: #ecf0f1 
	border-radius: 5px 
	padding: 1vh 2vh 1vh 2vh 
	margin: 1% 
#boxNos 
	width: 95vh 
	margin: 1vh 0px 1vh 0px 
.box-foto 
	border-radius: 5px 
	width: 30vh 
	margin: 5px 
	display: none 
	display: none 
h1 
	font-family: 'Raleway', sans-serif 
	font-weight: bold 
	font-size: 5vh 
	font-stretch: expanded 
h2 
	font-family: 'Raleway', sans-serif 
	font-weight: bold 
	font-size: 4vh 
h3 
	font-family: 'Raleway', sans-serif 
	font-weight: 200 
	font-weight: bold 
	font-size: 2vh 
h4 
	font-family: 'Raleway', sans-serif 
	font-weight: 300 
	font-style: italic 
	font-size: 1.5vh 
h5 
	font-family: 'Raleway', sans-serif 
	font-weight: 400 
	font-size: 1.5vh 
.button 
	background-color: #d63031 
	border: none 
	border-radius: 5px 
	color: white 
	cursor: pointer 
	-webkit-transition-duration: 0.4s 
	transition-duration: 0.4s 
	&:hover 
		background-color: #ecf0f1 
		box-shadow: 0px 5px 5px rgba(0,0,0,0.5) 
.heroButtonContainer 
	display: flex 
	justify-content: center 
.button-hero 
	display: flex 
	align-items: center 
	justify-content: center 
	background-image: url(../img/ptt_b.svg) 
	background-repeat: repeat 
	background-size: 900px 
	margin: 1vh 
	width: 20vh 
	height: 6vh 
.button-box 
	display: flex 
	flex-direction: column 
	justify-content: center 
	align-items: center 
	width: 11vh 
	border-radius: 3px 
a 
	&:link 
		text-decoration: none 
		font-family: 'Raleway', sans-serif 
		font-weight: 300 
		font-size: 1.8vh 
		color: white 
		font-family: 'Raleway', sans-serif 
		font-weight: 300 
		font-size: 10px 
		color: white 
	&:visited 
		color: white 
	&:hover 
		color: #e74c3c 
		font-weight: 600 
		text-shadow: #ecf0f1 
	&:active 
		color: #130f40 
footer 
	grid-area: footer 
	background-color: #130f40 
	background-image: url(../img/ptt_b.svg) 
	color: #ecf0f1 
.pie 
	padding: 15px 15px 15px 15px 
	display: flex 
	justify-content: space-evenly 
	align-items: center 
	flex-wrap: wrap 
	padding: 10px 
	text-align: center 
	font-size: 1vh 
.direccion 
	display: block 
	text-align: center 
.direccionFoto 
	background-image: url(../img/local.jpg) 
	width: 280px 
	height: 150px 
	border-radius: 5px 
	margin-bottom: 15px 
	display: none 
.map 
	border-radius: 5px 
	width: 280px 
	height: 150px 
	margin-bottom: 15px 
	display: none 
@media 
	(max-width 
		&: 
			600px) 
				.hero{
        width: 95% 
				text-align: center 
				color: azure 
} 
	@media 
		(max-width 
			&: 
				400px) 
					header{
        padding: 0px 0px 0px 10px 
					min-height: 10vh 
				200px) 
					.logo_header {
        padding: 0px px px 0px 
					min-height: 2vh 
	.tracking-in-expand 
		-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both 
		animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both 
	@keyframes 
		tracking-in-expand 
			0% {
    letter-spacing: -0.5em 
			opacity: 0 
		slit-in-vertical 
			0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg) 
			transform: translateZ(-800px) rotateY(90deg) 
			opacity: 0 
		slide-in-fwd-center 
			0% {
    -webkit-transform: translateZ(-1400px) 
			transform: translateZ(-1400px) 
			opacity: 0 
		heartbeat 
			from {
    -webkit-transform: scale(1) 
			transform: scale(1) 
			-webkit-transform-origin: center center 
			transform-origin: center center 
			-webkit-animation-timing-function: ease-out 
			animation-timing-function: ease-out 
	.slit-in-vertical 
		-webkit-animation: slit-in-vertical 0.7s ease-out 1s both 
		animation: slit-in-vertical 0.7s ease-out 1s both 
	.slide-in-fwd-center 
		-webkit-animation: slide-in-fwd-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both 
		animation: slide-in-fwd-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both 
	.heartbeat 
		-webkit-animation: heartbeat 1.5s ease-in-out infinite both 
		animation: heartbeat 1.5s ease-in-out infinite both 
@-webkit-keyframes 
	tracking-in-expand 
		0% {
    letter-spacing: -0.5em 
		opacity: 0 
	slit-in-vertical 
		0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg) 
		transform: translateZ(-800px) rotateY(90deg) 
		opacity: 0 
	slide-in-fwd-center 
		0% {
    -webkit-transform: translateZ(-1400px) 
		transform: translateZ(-1400px) 
		opacity: 0 
	heartbeat 
		from {
    -webkit-transform: scale(1) 
		transform: scale(1) 
		-webkit-transform-origin: center center 
		transform-origin: center center 
		-webkit-animation-timing-function: ease-out 
		animation-timing-function: ease-out 
40% 
	opacity: 0.6 
	opacity: 0.6 
100% 
	opacity: 1 
	opacity: 1 
	-webkit-transform: translateZ(0) rotateY(0) 
	transform: translateZ(0) rotateY(0) 
	-webkit-transform: translateZ(0) rotateY(0) 
	transform: translateZ(0) rotateY(0) 
	-webkit-transform: translateZ(0) 
	transform: translateZ(0) 
	opacity: 1 
	-webkit-transform: translateZ(0) 
	transform: translateZ(0) 
	opacity: 1 
54% 
	-webkit-transform: translateZ(-160px) rotateY(87deg) 
	transform: translateZ(-160px) rotateY(87deg) 
	opacity: 1 
	-webkit-transform: translateZ(-160px) rotateY(87deg) 
	transform: translateZ(-160px) rotateY(87deg) 
	opacity: 1 
10% 
	-webkit-transform: scale(0.91) 
	transform: scale(0.91) 
	-webkit-animation-timing-function: ease-in 
	animation-timing-function: ease-in 
	-webkit-transform: scale(0.91) 
	transform: scale(0.91) 
	-webkit-animation-timing-function: ease-in 
	animation-timing-function: ease-in 
17% 
	-webkit-transform: scale(0.98) 
	transform: scale(0.98) 
	-webkit-animation-timing-function: ease-out 
	animation-timing-function: ease-out 
	-webkit-transform: scale(0.98) 
	transform: scale(0.98) 
	-webkit-animation-timing-function: ease-out 
	animation-timing-function: ease-out 
33% 
	-webkit-transform: scale(0.87) 
	transform: scale(0.87) 
	-webkit-animation-timing-function: ease-in 
	animation-timing-function: ease-in 
	-webkit-transform: scale(0.87) 
	transform: scale(0.87) 
	-webkit-animation-timing-function: ease-in 
	animation-timing-function: ease-in 
45% 
	-webkit-transform: scale(1) 
	transform: scale(1) 
	-webkit-animation-timing-function: ease-out 
	animation-timing-function: ease-out 
	-webkit-transform: scale(1) 
	transform: scale(1) 
	-webkit-animation-timing-function: ease-out 
	animation-timing-function: ease-out 
